.content {
  background: #F5F5F5;
}
.content__body {
  max-width: 1080px;
  margin-top: 36px;
}
@media (max-width: 992px) {
  .content__body {
    max-width: 719px;
  }
}
@media (max-width: 690px) {
  .content__body {
    margin-top: 24px;
  }
}
.content__title {
  margin-bottom: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}
@media (max-width: 690px) {
  .content__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.content__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #939393;
  margin-bottom: 24px;
}
@media (max-width: 690px) {
  .content__subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}
.content__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
@media (max-width: 690px) {
  .content__text {
    font-size: 16px;
    line-height: 19px;
  }
}
.content__text p {
  margin-bottom: 14px;
}
.content__text p:last-child {
  margin: 0;
}