@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    background: #F5F5F5;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__top-left {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 36px;
    }

    &__top-location span {
        margin: 0 0 0 8px;
        @media(max-width: 690px) {
            display: none;
        }
    }

    &__top-shops {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 6px;
    }

    @media(max-width: 690px) {
        &__top-shops span {
            display: none;
        }
    }

    &__top-contact {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        @media(max-width: 690px) {
            display: none;
        }
}

    &__top-line {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 6.5%;
        border: 2px solid #E8E8E8;
        @media(max-width: 690px) {
            display: none;
        }
    }

		&__middle {
            margin-top: 30px;
            display: flex;
            height: 70px;
            align-items: center;
		}

		&__middle-logo {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.105em;
            color: #E11C4B;
            @media(min-width: 691px) and (max-width:992px) {
                font-size: 18.3172px;
                line-height: 22px;
            }
            @media(max-width: 690px) {
                font-size: 17.3858px;
                line-height: 21px;
                position: absolute;
                top: 23px;
            }
		}

		&__middle-input input {
            width: 100%;
            margin: 0 15px;
            height: 80%;
		}

        @media(max-width: 690px) {
            &__middle-input input::placeholder {
                font-size: 14px;
                line-height: 16px;
            }
        }


        &__middle-input {
            max-width: 523px;
            height: 46px;
            width: 100%;
            background: #FFFFFF;
            border: 2px solid #DDDDDD;
            border-radius: 100px;
            margin: 0 0 0 51px;
            display: flex;
            align-items: center;
            @media(max-width: 690px) {
                margin-top: 40px;
            }
        }

        &__middle-input img {
            margin: 0 0 0 18px;
        }

		&__middle-user {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 24px;
            margin: 0 0 0 25px;
            @media(max-width: 690px) {
                position: absolute;
                top: 15px;
                right: 15px;
            }
		}

.user {

    @media(max-width: 992px) {
        & {
            max-width: 186px;
            justify-content: space-between;
            align-items: center;
        }
        @media(max-width: 690px) {
            max-width: 114px;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media(max-width: 690px) {
        & img {
            width: 21px;
            height: 24px;
        }
    }

		&__column {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 2px;
            height: 39px;
            justify-content: space-between;
            @media(max-width: 992px) {
                flex-direction: row;
            }
		}

        @media(max-width: 690px) {
            &__column:nth-child(1), :nth-child(4), :nth-child(6) {
                display: none;
            }
        }

        &__column img {
            width: 18px;
            height: 18px;
            @media(max-width: 992px) {
                width: 22px;
                height: 22px;
            }
        }

        @media(max-width: 992px) {
            &__column span {
                display: none;
            }
        }
    }
        .header {

            &__bottom {
                display: flex;
                height: 56px;
                align-items: center;
                justify-content: space-between;
            }
    
            &__bottom-sales {
                min-width: 72px;
            }

            &__bottom-sales span {
                color: #E11C4B;
            }
    
    }
    
    .icon-menu {

        &__list {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: #f5f5f5;
            padding: 48px 0 20px 0;
            overflow: auto;
            transform: translate3d(-100%, 0px, 0px);
            transition: all 0.7s ease;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 10;
            @media(max-width: 690px) {
                &.active {
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 0.7s ease;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        @media(max-width: 690px) {
            & {
                display: block;
                position: absolute;
                top: 83px;
                left: 0px;
                width: 24px;
                height: 18px;
                cursor: pointer;
                z-index: 15;
                span {transition: (0.5s, 0s); top: 8px; left: 0; position: absolute; width: 100%; height: 2px; background-color: #000;
                &:first-child {top: 0;}
                &:last-child {top: auto; bottom: 0;}
                }
                &.active {
                    top: 18px;
                    left: 95%;
                span{transform: scale(0); background-color: #000;
                &:first-child {transform: rotate(-45deg); top: 8px;}
                &:last-child {transform: rotate(45deg); bottom: 8px;}
        }
            }
            }

    &__list li {
        margin-bottom: 19px;
    }

    &__list:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 18px;
    }

    &__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        padding-left: 40px;
        padding-top: 10px;
    }

    &__item img {
        position: absolute;
        right: 5px;
    }

    &__item-1 {
        background: url("../img/image50.png") no-repeat;
    }

    &__item-2 {
        background: url("../img/image49.png") no-repeat;
    }

    &__item-3 {
        background: url("../img/image1.png") no-repeat;
    }

    &__item-4 {
        background: url("../img/photo.png") no-repeat;
    }

    &__item-5 {
        background: url("../img/image2.png") no-repeat;
    }

    &__item-6 {
        background: url("../img/image3.png") no-repeat;
    }

    &__item-7 {
        background: url("../img/image4.png") no-repeat;
    }

    &__item-8 {
        background: url("../img/image5.png") no-repeat;
    }

    &__item-9 {
        background: url("../img/image6.png") no-repeat;
    }

    &__item-10 {
        background: url("../img/image7.png") no-repeat;
    }

    &__item-11 {
        background: url("../img/image8.png") no-repeat;
    }

    &__item-12 {
        background: url("../img/image9.png") no-repeat;
    }
        }
    
    }

    .swiper {
        max-width: 1031px!important;
        display: flex!important;
        justify-content: space-between!important;


    &-slide {
        width: auto!important;
        margin: 0 0 0 36px!important;
        @media(max-width: 992px) {
            margin: 0 0 0 18px!important;
        }
    }

    &-slide:first-child {
        margin: 0;
    }

    &-button-next {
        right: 0px!important;
    }
    
    &-button-next::after {
        font-size: 0.5rem!important;
        padding: 5px 6px!important;
        border-radius: 100%;
        background-color: #f5f5f5!important;
        color: black!important;
        position: absolute;
        right: 0px;
        border: 1px solid #8d8d8d;
    }
}
}